%table
  %tr
    %th.left_align Hours:
    %td#hours= @player.hours
  %tr
    %th.left_align Money:
    %td= @player.money
  %tr
    %th(colspan=2) Inventory:
  %tr
    %td(colspan=2)= @player.inventory
    