%table
  %tr
    %th.left_align Points:
    %td#points= @player.points
  %tr
    %th.left_align Money:
    %td= @player.money
  %tr
    %th(colspan=2) Inventory:
  %tr
    %td(colspan=2)= @player.inventory
    