#locations
  z-index: 3
  @extend .unselectable

.location
  $size: 29px
  
  position: absolute
  margin-top: -12px
  margin-left: -12px

  width: $size
  height: $size
  border-radius: 50%
  
  background: blue

  cursor: pointer


  transition: background .14s linear

  &:hover
    box-shadow: 0 1px 6px rgba(0,0,0,0.88)

  &.contact
    background: #ffab00

  &.upgrade_store
    background: #fa0

  &.player, &.viewing
    background: #0f0
    box-shadow: 0 3px 9px rgba(0,0,0,0.8)
  
    -webkit-animation: pulsate 3s ease
    -webkit-animation-iteration-count: infinite

    @-webkit-keyframes pulsate
      0%
        -webkit-transform: scale(1, 1)
        box-shadow: 0 1px 6px rgba(0,0,0,0.88)
      50%
        -webkit-transform: scale(1.25, 1.25)
        box-shadow: 0 2px 9px rgba(0,0,0,0.6)

      100%
        -webkit-transform: scale(1, 1)
        box-shadow: 0 1px 6px rgba(0,0,0,0.88)




.new_location
  @extend  .location
  background: #0f0

canvas
  position: absolute
  left: 0
  top: 0
  z-index: 2
  pointer-events: none


.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  