// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location
  border-radius: 50%
  width: 24px
  height: 24px
  position: absolute
  background: blue
  color: white
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 1px 3px rgba(0,0,0,.6)

  cursor: pointer

  transition: all .15s ease-out

  &.viewing
    transform: scale(1.25)
    box-shadow: 0 1px 4px rgba(0,0,0,.5)

  &.player
    background: #0f0
    color: black

.new_location
  @extend  .location
  background: #0f0

canvas
  position: absolute
  left: 0
  top: 0
  z-index: -10

#location_detail
  font-size: 150%
  float: right
  background: #fafafa
  padding: 1em
  box-shadow: 0 1px 6px rgba(0,0,0,.6)
  width: 8em
  height: 11em

  h2
    margin: 0 0 .5em
  h4
    margin: 0 0 .375em

  input[type='number']
    width: 5em