// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location
  border-radius: 50%
  width: 24px
  height: 24px
  position: absolute
  background: blue
  color: white
  display: flex
  align-items: center
  justify-content: center

  cursor: pointer

.new_location
  @extend  .location
  background: #0f0

canvas
  position: absolute
  left: 0
  top: 0
  z-index: -10
