html
  height: 100%

body
  background: #dfdfdf
  height: 100%
  margin: 0
  overflow: hidden

#play_container
  height: 100%
  display: flex
  justify-content: flex-end

.right
  float: right


#detail
  display: flex
  flex-direction: column
  justify-content: space-around
  padding: 0 2em

$corners: 3px

.card
  font-size: 150%
  background: #fafafa
  box-shadow: 0 2px 8px rgba(0,0,0,.6)
  width: 12em
  height: 12em

  border-radius: $corners

  h2
    margin: 0 0 .5em
  h3
    margin: 0 0 .425em
  h4
    margin: 0 0 .375em

  input[type='number']
    width: 5em

  table
    width: 100%

  header
    display: flex
    align-items: center
    justify-content: space-between
    padding: .5em
    color: white
    font: bold 85% verdana

    border-top-left-radius: $corners
    border-top-right-radius: $corners

    transition: background .2s ease-in-out

    i.material-icons
      line-height: .85em
      font-size: 29px
    .spacer
      width: 29px
    a
      line-height: 14px
      color: rgba(255,255,255,0.4)
      transition: all .15s ease-out
      cursor: pointer
      &:hover
        color: rgba(255,255,255,0.97)

  .body
    padding: .5em 1em

#player_detail header
  background: #0a0
  
#location_detail
  header
    background: #00c
  &.merchant header
    background: #ec9e00
  &.upgrade_shop header
    background: #ab28a4

.left_align
  text-align: left

.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  
a.disabled
  pointer-events: none
  color: #888
  
a
  cursor: pointer

#help_button
  position: absolute
  bottom: 10px
  left: 10px
  color: rgba(0,0,0,0.4)
  i
    font-size: 200%
    