html
  height: 100%

body
  background: #ddd
  height: 100%
  margin: 0
  display: flex
  justify-content: flex-end

.right
  float: right


#detail
  float: right
  display: flex
  flex-direction: column
  justify-content: space-around
  padding: 1em

#detail .card
  font-size: 150%
  background: #fafafa
  padding: 1em
  box-shadow: 0 1px 6px rgba(0,0,0,.6)
  width: 8em
  height: 11em

  h2
    margin: 0 0 .5em
  h3
    margin: 0 0 .425em
  h4
    margin: 0 0 .375em

  input[type='number']
    width: 5em

  table
    width: 100%

.flash
  display: inline-block
  text-align: center

.left_align
  text-align: left