%h1 Map

= render partial: 'map'

#detail
  %h3 Please select a location.
  #flash


:javascript
  $(document).on('click', '.location[data-id]', function(){
    $.get("/locations/" + $(this).data('id'));
    $('.location').removeClass('viewing');
    $(this).addClass('viewing');
  });
