= render partial: 'map'

#detail
  = render partial: 'detail'


:javascript
  $('.location[data-id=#{@player.location.id}]').addClass('player');
  $(document).on('click', '.location[data-id]', function(){
    $.get("/player/move/" + $(this).data('id'));
  });
